.BestRatedBooks h2 {
  font-family: 'Tangerine', serif;
  font-size: 55px;
  font-style: italic;
  color: #796157;
  margin-bottom: 25px;
}

.List {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
