.book__item {
  display: flex;
  text-decoration: none;
  color: inherit;
  max-width: 360px;
  /* width: 80%; */
  align-items: center;
  margin-bottom: 85px;
}
.book__item article {
  display: flex;
  align-items: flex-start;
}

.book__item h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.book__img {
  /* width: 200px; */
  border-radius: 5px;
  height: 260px;
  object-position: center;
  object-fit: contain;
}
.book__item h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.book__item p {
  font-size: 14px;
  color: #796157;
  margin-bottom: 10px;
}
.full {
  color: #d9a963;
  font-size: 23px;
}
.empty {
  color: #f2e3ce;
  font-size: 23px;
}
.book__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 50px 0px 0px 18px;
}
.book__rating {
  display: flex;
  margin-bottom: 20px;
}

@media all and (max-width: 600px) {
  .BookItem img {
    width: 50%;
  }
}
