* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  /* color: #2c1810; */
}

#root {
  position: absolute;
  width: 100%;
  z-index: -100000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2e3ce;
}

/* HTML5 display-role reset for older browsers */

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
} */

ol,
ul {
  list-style: none;
}

/* blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* #root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto 40px auto 50px;
}

.content-container {
  width: 90%;
  max-width: 1320px;
  margin: auto;
  padding-block: 50px;
}

.backArrow {
  display: block;
  /* font-size: 20px; */
  margin-bottom: 50px;
  color: #796157;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 44px;
  font-style: italic;
  color: #796157;
}

/* button,
.button {
  color: #2c1810;
  background-color: #d9a963;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: 0.5s;
}

button:hover,
.button:hover {
  text-decoration: none;
  background-color: #b99056;
  color: #fff;
  transition: 0.5s;
} */
